.index-banner-3 {
  background-color: white;
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400%;
  background-attachment: fixed;
  height: calc(80vh - 100px);
}

.img-1 {
  position: relative;
  right: -36vh;
  top: 5vh;
}
.img-2 {
  position: relative;
  bottom: 9vh;
  left: 96vh;
}
.img-3 {
  position: relative;
  left: 154vh;
  bottom: 22vh;
}
.img-4 {
  position: relative;
  right: -29vh;
  bottom: 13vh;
}
.img-5 {
  position: relative;
  right: -90vh;
  bottom: 30vh;
}
.img-6 {
  position: relative;
  left: 154vh;
  bottom: 52vh;
}
.img-7 {
  position: relative;
  right: -94vh;
  bottom: 45vh;
}
.header-3 {
  font-size: 30px;
  font-weight: 700;
  padding-left: 89vh;
}
.header-4 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  bottom: 35vh;
  padding-left: 89vh;
}
.img-8 {
  position: relative;
  right: -92vh;
  bottom: 30vh;
}

@media only screen and (max-width: 900px) {
  .index-banner-3 {
    padding-bottom: 19vh;
  }
  .img-1 {
    position: relative;
    right: -6vh;
    top: 5vh;
  }
  .img-2 {
    position: relative;
    bottom: 9vh;
    left: 36vh;
  }
  .img-3 {
    position: relative;
    left: 7vh;
    bottom: -3vh;
  }
  .img-4 {
    position: relative;
    right: -27vh;
    bottom: 13vh;
  }
  .img-5 {
    position: relative;
    right: -3vh;
    bottom: 5vh;
  }
  .img-6 {
    position: relative;
    left: 34vh;
    bottom: 30vh;
  }
  .img-7 {
    position: relative;
    right: -21vh;
    bottom: 25vh;
  }
  .header-3 {
    font-size: 30px;
    font-weight: 700;
    padding-left: 17vh;
  }
  .header-4 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    bottom: 20vh;
    padding-left: 17vh;
  }
  .img-8 {
    position: relative;
    right: -19vh;
    bottom: 16vh;
  }
}
