.index-banner {
  background-image: url("../../img/DSC_0329.JPG");
  position: relative;
  opacity: 100;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(30vh - 200px);
  top: -6vh;
  margin-bottom: -6vh;
  padding-bottom: 96vh;
}

.header {
  font-family: sans-serif;
  font-weight: 700;
  line-height: 80px;
  font-size: 60px;
  color: white;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 180px;
}

.text-banner {
  line-height: 60px;
}

p {
  text-align: center;
  font-size: 48px;
  font-style: italic;
  color: rgb(255, 255, 255);
}
.line {
  text-align: center;
  width: 30px;
  height: 3px;
  background: rgb(255, 255, 255);
  margin: 5px;
  padding-left: 40%;
  margin-left: 28%;
  margin-top: -25px;
  margin-bottom: -25px;
}

@media only screen and (max-width: 900px) {
  .header {
    font-family: sans-serif;
    font-weight: 700;
    line-height: 50px;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 36vh;
  }
  .index-banner {
    background-image: url("../../img/DSC_0329.JPG");
    position: relative;
    opacity: 100;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(30vh - 200px);
  }

  p {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: rgb(255, 255, 255);
  }
  .line {
    text-align: center;
    width: 30px;
    height: 1px;
    background: rgb(255, 255, 255);
    margin: 5px;
    padding-left: 50%;
    margin-left: 20%;
    margin-top: -25px;
    margin-bottom: -25px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    font-family: sans-serif;
    font-weight: 700;
    line-height: 50px;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 36vh;
  }
  .index-banner {
    background-image: url("../../img/DSC_0329.JPG");
    position: relative;
    opacity: 100;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(30vh - 200px);
  }

  p {
    text-align: center;
    font-size: 28px;
    font-style: italic;
    color: rgb(255, 255, 255);
  }
  .line {
    text-align: center;
    width: 30px;
    height: 1px;
    background: rgb(255, 255, 255);
    margin: 5px;
    padding-left: 50%;
    margin-left: 20%;
    margin-top: -25px;
    margin-bottom: -25px;
  }
}
