.App {
  overflow: hidden;
  position: relative;
}

.sticky {
  position: fixed;
}

.sticky + .content {
  padding-top: 112px;
  color: white;
}

.topnav {
  padding-top: 2vh;
  padding-bottom: 70px;
  background-color: white;
  z-index: 99;
  padding-right: 100%;
}
