.img-9 {
  position: relative;
  left: 94vh;
  top: 14vh;
  padding-bottom: 15vh;
}
section {
  padding-bottom: 77vh;
}

@media only screen and (max-width: 900px) {
  .img-9 {
    position: relative;
    left: 20vh;
    top: 14vh;
    padding-bottom: 15vh;
  }
}
